/* Header CSS Start  */
@media (max-width: 992px) {
    .header-widget-area {
        position: sticky;
        top: -56px;
        z-index: 9999;
    }
}
@media (max-width: 575px) {
    /* .header-menus .navbar-nav {
        padding: 80px 15px 0px !important;
    } */
    .mobile-block>.navbar-collapse>.navbar-nav{
        padding: 80px 15px 0px !important;
    }
    .dropend {
        padding: 12px;
    }
    .dropend .nav-link{
        padding: 0px !important;
        font-size: 14px !important;
        font-weight: 400 !important;
    }
    .header-widget-area {
        position: sticky;
        top: -101px;
        z-index: 9999;
    }
}
.home .header-menus .nav-item.dropdown .active {
    color: #000;
}

.home .header-menus .nav-item.dropdown:first-child .active {
    color: #74253a !important;
}
/* Header CSS End  */

/* News Block CSS Start  */
.blogs-sec .read-more .read-more-btn{
    cursor: pointer;
}

/* News Block CSS End  */

/* Contact Form CSS Start  */
.inquiry-form .form-check-input {
    background: transparent;
    border: 0;
}

input.wpcf7-form-control.wpcf7-submit.has-spinner.join-us.text-uppercase.enquiry-submit {
    padding: 10px 0px !important;
    width: fit-content !important;
    background: transparent !important;
}
.wpcf7-submit:hover::before{
    content : url(../images/arrow.svg);

    position: absolute;
}

.contact-form .form-group{
    margin:0px !important;
}
.inquiry-form .wpcf7-response-output,
.newsletter-btn .wpcf7-response-output
{
    text-align: center;
    border: none !important;
    font-weight: 700;
}
.inquiry-form .wpcf7-spinner,
.newsletter-btn .wpcf7-spinner{
    left: -70% !important;

}

/* Contact Form CSS Ends  */

/* Header popup */
.modal-backdrop.show {
    opacity: 0;
    z-index: -1;
}

/* Investor Page CSS  */
.investor-relations-list{
    padding-bottom: 0px !important;
}


.upcoming-meetings .inner-upm {
    height: auto;
    max-height: 600px;
}
/* Investor Page CSS End */

/* Shareholder Block CSS Start  */

.shareholder_services .row:last-child{
    border-bottom: none;
}

/* Shareholder Block CSS End  */

/* Yearly Report Block CSS Start  */

.yearly-report a.file-btn::before{
    background-image : url('../images/d-variant-arrow.svg');
}
.yearly-report a.file-btn::after{
    background-image : url('../images/white-d-arrow-svg.svg');
}
@media (max-width: 575px) {
    .yearly-report .row .col-md-6:nth-child(2) .annual-points{
        margin-top:20px;
    }
    .navbar-open>header {
        padding: 20px 15px 0;
    }
}


/* Yearly Block CSS End  */

/* Blog Page CSS Start  */
.post-21 .main-hero-banner{
    background-position:center;
}
.post-21 .main-hero-banner::before {
    background-color: transparent;
}
/* Blog Page CSS End  */


/* Breadcrumb Block CSS Start  */
.breadcrumb .breadcrumb-nav{
    --bs-breadcrumb-divider: '>';
}
@media (min-width: 768px)
{
    .breadcrumb .breadcrumb-nav{
        --bs-breadcrumb-divider: '>';
        font-size: 21px;
    }  
}
/* BreadCrumb Block CSS End  */


/* Hero Banner */
.one-slide .join-us-btn{
    width:19em;
}
.page-hero .rslocation-btn{
    margin:0;
}
.page-hero .hero_button{
    max-width: fit-content;
}
.page-hero .hero_button .join-us-btn{
    margin:auto;
}
.hero-title .heading_top{
    margin-top: -20px;
}
/* #post-958 .page-hero .main-hero-banner {
    height: calc(600px - 120px);
} */
/* @media (max-width: 1600px) {
    .main-hero-banner{
        height: calc(600px - 120px) !important;
    }
} */
/* Product Detail page CSS Start */

.single-product .all-inspires.products .box_width {
    width: 25%;
}

.single-product .all-inspires.products .row {
    column-gap: 0;
}

.single-product .leader-tabs.pro .leader-img {
    height: auto;
    width: auto;
}

.single-product .product_new h5 {
    margin: 0 auto;
}
/* Product Detail Page CSS End */
