/* Header CSS Start  */
@media (max-width: 575px) {
    .header-menus .navbar-nav {
        padding-top: 0px;
        margin-top: 65px;
    }

}
.home .header-menus .nav-item.dropdown .active {
    color: #000;
}

.home .header-menus .nav-item.dropdown:first-child .active {
    color: #74253a !important;
}
/* Header CSS End  */

/* News Block CSS Start  */
.blogs-sec .read-more{
    cursor: pointer;
}

/* News Block CSS End  */

/* Contact Form CSS Start  */
.inquiry-form .form-check-input {
    background: transparent;
    border: 0;
}

input.wpcf7-form-control.wpcf7-submit.has-spinner.join-us.text-uppercase.enquiry-submit {
    padding: 10px 0px !important;
    width: fit-content !important;
    background: transparent !important;
}
.wpcf7-submit:hover::before{
    content : url(../images/arrow.svg);

    position: absolute;
}

.contact-form .form-group{
    margin:0px !important;
}
.inquiry-form .wpcf7-response-output,
.newsletter-btn .wpcf7-response-output
{
    text-align: center;
    border: none !important;
    font-weight: 700;
}
.inquiry-form .wpcf7-spinner,
.newsletter-btn .wpcf7-spinner{
    left: -70% !important;

}

/* Contact Form CSS Ends  */

/* Header popup */
.modal-backdrop.show {
    opacity: 0;
    z-index: -1;
}

/* Investor Page CSS  */
.investor-relations-list{
    padding-bottom: 0px !important;
}

.company-events{
    padding-top:0px !important;
}

.upcoming-meetings .inner-upm {
    height: auto;
    max-height: 600px;
}