/* Roobert Regular fonts */
@font-face {
    font-family: 'Roobert';
    src: url('../fonts/Roobert-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Earth fonts */

@font-face {
    font-family: 'Earth';
    src: url('../fonts/EarthNormal.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Arial fonts */

@font-face {
    font-family: 'Arial LT';
    src: url('../fonts/Arial-Lgt.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: url('../fonts/ArialMT.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial CE';
    src: url('../fonts/ArialCE.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial CE MT';
    src: url('../fonts/ArialCEMTBlack-Regular.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}


/* DM-Sans font */
@font-face {
    font-family: 'DM Sans';
    src: url('../fonts/DMSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



:root {
    --textColor: #1E1916;
    --whiteColor: #ffffff;
    --greycolor: #555;
    --redcolor: #74253A;
    --lightGrey: #B0B0B0;
    --bgBlack: #1E1916;
    --bgGrey: #F5F5F5;
    --yellowText: #F7A209;
}

body {
    font-family: 'Arial';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    color: var(--textColor);
    background: #fff;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

a,
a:hover {
    text-decoration: none;
    color: var(--textColor);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.5;
}

h1 {
    font-family: 'Earth';
    font-size: 60px;
}

h2 {
    font-family: 'Earth';
    font-size: 50px;
}

h3 {
    font-family: 'Arial';
    font-size: 40px;
}

h4 {
    font-family: 'Arial';
    font-size: 32px;
}

h5 {
    font-family: 'Arial';
    font-size: 24px;
}

p {
    font-family: 'Arial';
    font-size: 20px;
    line-height: 1.8;
    color: #555555;
}

.text-48 {
    font-size: 48px;
}

.sb-text {
    font-weight: 700;
}

.rb-font {
    font-family: 'Roobert';
}

/* Text color */
.grey-text {
    color: var(--greycolor);
}

.white-text {
    color: var(--whiteColor);
}

.black-text {
    color: var(--textColor);
}

.red-text {
    color: var(--redcolor);
}

.light-grey {
    color: var(--lightGrey);
}

.yellow-text {
    color: var(--yellowText);
}

/* BG color */
.bg-black {
    background: var(--bgBlack);
}

.bg-grey {
    background: var(--bgGrey);
}


a,
a:hover {
    text-decoration: none;
}

.d_none {
    display: none;
}

.col-p {
    padding: 0;
}

.tb-padding {
    padding: 200px 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

/* custom scrollbar css */
::-webkit-scrollbar {
    width: 8px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--greycolor);
    border-radius: 8px;
}

body::-webkit-scrollbar-track {
    background-color: #f4f4f4;
    box-shadow: inset 0 0 6px #0000001a;
}

::selection {
    background: #74253A;
    color: #fff;
}


/* .menu-wrapper::-webkit-scrollbar{
    display: none;
} */